#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    // --- 追加: Mod-Tapの挙動をカスタマイズ ---

    behaviors {
        // デフォルトのMod-Tap(&mt)の挙動を上書きし、QMK風の快適な設定に変更します

        mt: mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;

            // --- ここからがカスタマイズ項目です ---
            // タップとホールドを認識する時間。200msに設定。

            tapping-term-ms = <200>;

            // 'tap-preferred'フレーバーを選択。
            // これにより、高速でキーを連続入力（ローリング）した際に、
            // ホールド（モディファイア）が誤爆するのを防ぎます。
            // QMKの`IGNORE_MOD_TAP_INTERRUPT`に近い挙動です。

            flavor = "tap-preferred";

            // (オプション) この時間内の素早い連続タップは、強制的にタップとして扱います。
            // これにより、スペースキーやエンターキーの連続タップがより確実になります。

            quick-tap-ms = <150>;

            // --- ここまでがカスタマイズ項目です ---

            bindings = <&kp>, <&kp>;
        };
    };

    // 日本語入力のオンオフで、ChromeでAltキーが暴発するための対策マクロ

    macros {
        macro_alt_grave: macro_alt_grave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <5>;
            tap-ms = <5>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp GRAVE>,
                <&macro_release>,
                <&kp LALT>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp ESC    &kp N1                    &kp N2        &kp N3       &kp N4             &kp N5                                         &kp N6  &kp N7             &kp N8       &kp N9    &kp N0             &kp BSPC
&kp TAB    &mt LEFT_WIN SQT          &kp COMMA     &kp PERIOD   &kp P              &kp Y                                          &kp F   &kp G              &kp C        &kp R     &kp L              &kp BSPC
&kp CAPS   &kp A                     &kp O         &mt LCTRL E  &kp U              &kp I   &mkp LCLK             &mkp RCLK        &kp D   &kp H              &mt RCTRL T  &kp N     &kp S              &kp SQT
&kp LSHFT  &mt LEFT_SHIFT SEMICOLON  &kp Q         &kp J        &kp K              &kp X   &mkp RCLK             &mkp LCLK        &kp B   &kp M              &kp W        &kp V     &mt RIGHT_SHIFT Z  &kp RSHFT
&mo 3      &kp LCTRL                 &kp LEFT_ALT  &kp TAB      &mt LEFT_ALT BSPC  &mo 1   &mt LEFT_SHIFT SPACE  &mt RCTRL ENTER  &mo 2   &mt RIGHT_ALT TAB  &kp RALT     &kp RGUI  &kp RCTRL          &mo 3
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans              &trans   &trans           &trans               &trans                   &trans            &trans     &trans         &trans     &trans     &trans
&trans  &kp F1              &kp F2   &kp F3           &kp F4               &kp F5                   &trans            &kp HOME   &kp PAGE_DOWN  &kp PG_UP  &kp END    &trans
&trans  &kp F6              &kp F7   &kp F8           &kp F9               &kp F10  &trans  &trans  &macro_alt_grave  &kp LEFT   &kp DOWN       &kp UP     &kp RIGHT  &trans
&trans  &mt LEFT_SHIFT F11  &kp F12  &kp PRINTSCREEN  &kp PAUSE_BREAK      &kp INS  &trans  &trans  &mkp MCLK         &mkp LCLK  &mo 4          &mkp RCLK  &trans     &trans
&trans  &trans              &trans   &trans           &mt LEFT_ALT DELETE  &trans   &trans  &trans  &mo 3             &trans     &trans         &trans     &trans     &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans      &trans  &trans                   &trans     &trans                &trans     &trans     &trans     &trans
&trans  &kp N1  &kp N2  &kp N3      &kp N4  &kp N5                   &kp N6     &kp N7                &kp N8     &kp N9     &kp N0     &trans
&trans  &trans  &trans  &kp ESCAPE  &trans  &kp TAB  &trans  &trans  &kp LBKT   &kp RIGHT_BRACKET     &kp SLASH  &kp EQUAL  &kp MINUS  &trans
&trans  &trans  &trans  &trans      &trans  &trans   &trans  &trans  &kp GRAVE  &kp NON_US_BACKSLASH  &trans     &trans     &trans     &trans
&trans  &trans  &trans  &trans      &trans  &mo 3    &trans  &trans  &trans     &trans                &trans     &trans     &trans     &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans        &trans        &trans        &trans        &trans                      &trans            &trans     &trans         &trans     &trans          &trans
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                &bt BT_CLR        &trans     &trans         &trans     &bt BT_CLR_ALL  &trans
&trans  &trans        &trans        &trans        &trans        &trans      &trans  &trans  &trans            &trans     &trans         &trans     &trans          &trans
&trans  &trans        &trans        &trans        &trans        &trans      &trans  &trans  &trans            &trans     &trans         &trans     &trans          &trans
&trans  &trans        &trans        &trans        &trans        &trans      &trans  &trans  &trans            &trans     &trans         &trans     &trans          &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp LCTRL  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp LSHIFT  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp RSHIFT  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
